.error {
  font-family: "Comic Sans MS";
  color: darkred;
  font-size: .8em;
}

.clientInputs {
  display: inline-block;
  margin: 20px;
  width: 100%;
}

.add-client-input {
  font-family: fantasy;
  color: #e6e6e6;
}
